@inherits LayoutComponentBase

<PageTitle>Notes</PageTitle>

<div class="page block lg:flex h-full text-white">
    <div class="w-full lg:h-full lg:w-96 max-h-96 lg:max-h-[unset] bg-zinc-800 border-r border-zinc-700 overflow-hidden flex">
        <NavMenu HandleChangeActiveNote="@HandleChangeActiveNote" HandleCreateNote="@HandleCreateNote" />
    </div>

    <main class="w-full h-full lg:w-[unset] lg:grow bg-zinc-900 overflow-hidden">
        <Notes.Pages.Index HandleChangeTextarea="@HandleChangeTextarea" HandleChangeTitle="@HandleChangeTitle" />
    </main>
</div>

@code {
    private void HandleChangeTitle(ChangeEventArgs e)
    {
        if (e is not null && e.Value is not null)
        {
            string value = e.Value.ToString() ?? "";
            State.Md.ActiveNote.Title = value;
            StateHasChanged();
        }
    }

    private void HandleChangeTextarea(ChangeEventArgs e)
    {
        if (e is not null && e.Value is not null)
        {
            string value = e.Value.ToString() ?? "";
            State.Md.ActiveNote.Text = value;

            State.UpdateNote(State.Md.ActiveNote);
            StateHasChanged();
        }
    }

    private void HandleChangeActiveNote(MoodyData moodyData)
    {
        State.Md.ActiveNoteId = moodyData.Id;
        State.Md.ActiveNote = moodyData;
        StateHasChanged();
    }

    private void HandleCreateNote()
    {
        State.AddToNotes(new MoodyData() { Id = State.Notes.Count() });
        StateHasChanged();
    }
}
